<?xml version="1.0"?>
<config>
    <modules>
        <Frostnet_AttributeResourceScriptGenerator>
            <version>1.0.0</version>
        </Frostnet_AttributeResourceScriptGenerator>
    </modules>
    <global>
        <blocks>
            <frostnet_attributeresourcescriptgenerator>
                <class>Frostnet_AttributeResourceScriptGenerator_Block</class>
            </frostnet_attributeresourcescriptgenerator>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit>Frostnet_AttributeResourceScriptGenerator_Block_Adminhtml_Catalog_Product_Attribute_Edit</catalog_product_attribute_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <frostnet_attributeresourcescriptgenerator>
                <class>Frostnet_AttributeResourceScriptGenerator_Helper</class>
            </frostnet_attributeresourcescriptgenerator>
        </helpers>
        <models>
            <frostnet_attributeresourcescriptgenerator>
                <class>Frostnet_AttributeResourceScriptGenerator_Model</class>
            </frostnet_attributeresourcescriptgenerator>
        </models>
    </global>
    <admin>
        <routers>
            <frostnet_attributeresourcescriptgenerator>
                <use>admin</use>
                <args>
                    <frontName>attributeresourcescriptgenerator</frontName>
                    <module>Frostnet_AttributeResourceScriptGenerator</module>
                </args>
            </frostnet_attributeresourcescriptgenerator>
        </routers>
    </admin>
</config>
